body {
	background-color:#FF6347;
}

title { font-weight: bold;
	font-family: georgia, "times new roman", serif;
												font-size: 1.25em;	} 
h1 {
	font-weight: 200;
	font-family:impact,fantasy;
	text-align:center; }

h2 { background-color:black;
	color:#FF9900;
	text-shadow: 4px 4px 6px orange;
	text-align: center; }
h4 { font-family:"lucida handwriting", cursive;
	text-decoration:underline; }
ul { list-style-type:circle;
	  font-family: impact, fantasy;
	  text-transform:capitalize;	}
ol { font-family:impact, fantasy;
text-transform:capitalize; }
p {font-family: impact, fantasy;
	background-color:#FFA500 }
a {word-spacing: 5em;}
